.product-card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 16px;
    gap: 20px;
}

.product-card {
    padding: .5em;
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 6px -2px rgb(0, 0, 0, 0.6);
}

.product-card .product-card-title {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(36, 30, 30);
}
.product-card .product-card-text {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: rgb(67, 63, 88);
}
.product-card .product-card-footer {
    display: flex;
    padding: 16px;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(20, 17, 17);
}